<mat-toolbar class="d-flex flex-row justify-content-between pr-0">
  <div routerLink="" class="d-flex flex-row align-items-center" style="cursor: pointer;">
    <img height="50" src="../assets/logo.png">
  </div>
  <div class="d-flex h6 ml-auto mr-5 my-0 align-self-center">
    <span class="text-secondary font-weight-light" style="margin-left: 50px;">
      Utilisateur connecté :
    </span>
    <span class="text-success ml-1"> {{currentUser.email}}</span>
  </div>
  
  <button mat-button [matMenuTriggerFor]="menu">
    <span style="margin-right: 10px;"><mat-icon>account_circle</mat-icon></span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-button (click)="profile()" color="primary">
      <mat-icon>settings</mat-icon>
    </button>
    <br>
    <button mat-button (click)="logout()" color="warn" class="">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-menu>

</mat-toolbar>