<div class="d-flex flex-column h-100">
  <div class="btn-group w-100 px-3">
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list dense class="py-2">
    <mat-list-item routerLink="orders" routerLinkActive="active" disableRipple>
      <div matLine>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">table_rows</mat-icon>
        <span class="ml-3">Mes commandes</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <h4 mat-subheader class="m-0 py-0 pr-0">
  </h4>
</div>