<mat-nav-list>
  <mat-list-item style="background-color: none" routerLink="ordersToPrepare" routerLinkActive="active" disableRipple>
    <div matLine>
      <mat-icon mat-list-icon fontSet="material-icons-outlined">table_rows</mat-icon>
      <span class="ml-2">Les commandes à preparer par les magasins (retard de moins de 2h)</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="background-color: none" routerLink="ordersDelayed" routerLinkActive="active" disableRipple>
    <div matLine>
      <mat-icon mat-list-icon fontSet="material-icons-outlined">watch_later</mat-icon>
      <span class="ml-2">Les commandes en retard (de plus de 2h)</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="background-color: none;" routerLink="ordersAvMore14dd" routerLinkActive="active" disableRipple>
    <div matLine>
      <mat-icon mat-list-icon fontSet="material-icons-outlined">alarm_add</mat-icon>
      <span class="ml-2">Vous devez recontacter le client (la commande est disponible depuis plus de 14 jours)</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="background-color: none" routerLink="ordersAvLess14dd" routerLinkActive="active" disableRipple>
    <div matLine>
      <mat-icon mat-list-icon fontSet="material-icons-outlined">event_available</mat-icon>
      <span class="ml-2">Le client doit venir chercher sa marchandise</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="background-color: none" routerLink="ordersShipping" routerLinkActive="active" disableRipple>
    <div matLine>
      <mat-icon mat-list-icon fontSet="material-icons-outlined">local_shipping</mat-icon>
      <span class="ml-2">Les commandes en cours de livraison magasin</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="background-color: none" routerLink="ordersInProgress" routerLinkActive="active" disableRipple>
    <div matLine>
      <mat-icon mat-list-icon fontSet="material-icons-outlined">hourglass_top</mat-icon>
      <span class="ml-2">Les commandes livraison en magasin en cours de preparation</span>
    </div>
  </mat-list-item>


</mat-nav-list>